* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
body{
    


}
.nav-block{
    background-color: #070707;
}
nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}
.nav-block ul{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.nav-block li{
    list-style: none;
}
.nav-block a{
    text-decoration: none;
    color: blanchedalmond;
}
.logo{
    flex: 3;
    color: blanchedalmond;
    position: relative;
}
.logo::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    background: red;
    border-radius: 50%;
    transform: translate(-10%, -20%);
    mix-blend-mode: screen;

    
}

.order{
    background-color: red;
    padding: 6px 20px;
    border-radius: 2rem;
}
.home{
    background: radial-gradient(#525252, #131313);
}

.showcase{
    display: grid;
    min-height: 90vh;
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: 1fr 2fr 1fr;
    
}
.showcase h2{
    color: white;
    font-size: 40px;
    grid-column: 2/3;
    align-self: flex-end;
    text-align: center;

}
img{
    grid-row: 2/3;
    grid-column: 3/4;
}
.info{
    grid-column: 4/5;
    grid-row: 3/4;
}
.info h3{
    font-size: 3.5rem;
    color: white;
}
.info p{
    
    color: white;
    
}